* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 1190px;
  position: absolute;
  right: 0;
  padding: 21px 30px;
  background: #f2eae1;
}

.menu__container {
  width: 335px;
  height: 730px;
  background: #f2eae1;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__open-close {
  width: 18;
  height: 18;
}

.nav__search {
  display: flex;
  gap: 27px;
  align-items: center;
}

.nav__search__input {
  width: 212;
  height: 37;
  top: 12px;
  left: 1133px;
  border-width: 1px;
  border-radius: 8px;
  border: 1px solid #ffffff;
  padding: 11px 13px;
}

/* STUDENT-MENU */

.menu__wrapper {
  padding-top: 10px;
}

.menu__title {
  font-size: 32px;
  font-weight: bold;
  border-left: solid #f8d442;
  width: 39;
  border-left-width: 6px;
  padding-left: 8px;
  margin-left: 25px;
  position: absolute;
  top: 10px;
  left: 18px;
}

.menu__intro {
  margin-top: 100px;
  text-align: center;
}

.menu__intro-img {
  border-radius: 50%;
  width: 141;
  height: 214;
}

.menu__intro-title {
  font-weight: 700;
  font-size: 17px;
}

.menu__intro-just-p {
  margin-top: -15px;
  font-weight: 600;
  font-size: 14px;
  color: #feaf00;
}

.menu__intro-btn {
  width: 193;
  border-radius: 4px;
  background: #feaf00;
  padding: 13px 53px;
  border: none;
  transition: 0.3s ease-in-out;
  margin-top: 63px;
}

.menu__intro-btn:hover {
  background: #d79300;
}

.menu__footer {
  position: absolute;
  bottom: 15px;
  left: 130px;
}

.menu__footer-btn {
  border: none;
  background-color: #f2eae1;
  display: flex;
  gap: 10px;
  align-items: center;
}

.adding-btn {
  display: flex;
  align-items: center;
  gap: 30px;
}

.add-student {
  padding: 13px 28px;
  border: none;
  border-radius: 4px;
  background-color: #feaf00;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  transition: 0.3s ease-in-out;
}

.add-student:hover {
  background-color: #d79300;
}

/* =========================================================================================================================================== */

.main-profile__container {
  width: 1180px;
  height: 665px;
  padding: 20px 30px;
  position: absolute;
  top: 72px;
  left: 343px;
  background: #f8f8f8;
}

.main-profile__sub-title {
  font-weight: 700;
  font-size: 22px;
  margin-top: -5px;
}

.main-profile__wrapper {
  width: 592px;
  height: 391px;
  display: flex;
  margin-top: 42px;
  border-radius: 8px;
  background-color: #ffffff;
}

.main-profile__main-img {
  width: 249px;
  height: 256px;
  padding: 28px 22px;
  border-radius: 40px;
}

.main-profile__list {
  list-style: none;
  padding: 20px;
}

.main-profile__list-item span {
  font-weight: 600;
  font-size: 12px;
  color: #acacac;
}

.main-profile__list-item {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 15px;
}

.main-profile__icon {
  width: 11.228828430175781px;
  height: 82.80000305175781px;
  margin-left: 30px;
  margin-top: 15px;
}
